/* CSS Reset */
*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

html,body{
  height:100%
}

body{
  margin:0; 
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Noto Sans SC, Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  color:var(--text); 
  background: radial-gradient(1200px 600px at 10% -10%, #FFE7B3 0%, #FFF8E6 50%, #FFF8E6 100%);
}

#app {
  height: 100%;
}

